@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.Accounts.DTO.VoucherDto>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/layout-modifications.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/customStyle.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<link href="~/Content/CheckboxCrossTick.css" rel="stylesheet" />
<script src="~/Areas/Accounts/Scripts/Accounts/voucherListForAuthorization.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
@{
    ViewBag.Title = "Voucher List for Authorization";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var voucherList = jss.Serialize(Model);
    var CompanyId = ViewBag.CompanyId;
    var Companies = jss.Serialize(ViewBag.Companies);
    var CompanySelectedIds = jss.Serialize(ViewBag.companyIds);
    var count = ViewBag.CompanyCount;
}
<script>
    var voucherList = JSON.parse('@Html.Raw(voucherList)');
    var searchDate = '@ViewBag.CurrentFilter';
    var page = '@Model.PageNumber';
    var userCompanyId = parseInt(@CompanyId);
    var Companies = JSON.parse('@Html.Raw(Companies)');
    var CompanySelectedIds = JSON.parse('@Html.Raw(CompanySelectedIds)');
</script>




<div class="panel" id="VoucherList">
    <br />
    <div class="panel-body">
        <div class="container-fluid ">
            @using (Ajax.BeginForm("VoucherListForAuthorization", "Accounts", null, new { id = "voucherAuthorizerForm" }))
            {

                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group row row_design">
                            <div class="col-sm-offset-2 col-sm-2">
                                <label for="test" class="control-label pull-right">Search Date</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="date" style="height:20px" name="Date" class="form-control" id="searchDate" value="@(ViewBag.SearchDate ?? String.Empty)">
                                <input type="text" style="display:none" name="searchDate" class="form-control" id="searchDateTxt" value="@(ViewBag.CurrentFilter ?? String.Empty)">
                                <script>
                                        $("#searchDate").change(function () {
                                            $("#searchDateTxt").val(moment($("#searchDate").val()).format("DD/MM/YYYY"));
                                        })
                                </script>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" id="submit" class="btn btn-deepgreen">Search</button>
                                @*<a target="_blank" class="btn btn-info" data-bind="attr:{href:setUrl}">Export PDF</a>*@
                            </div>
                        </div>
                        @if (count > 1)
                        {
                            <div class="row">
                                <div class="form-group row row_design">
                                    <label class="control-label col-sm-2 col-sm-offset-1">Company</label>
                                    <div class="col-sm-3">
                                        <select multiple="multiple" id="companySelection" class="form-control" data-bind="options: CompanyList, optionsText: 'Name', optionsValue: 'Id', selectedOptions: CompanyProfileIds, multiselect: { includeSelectAllOption: true }"></select>
                                    </div>
                                </div>
                            </div>
                        }
                        <hr class="horizontal">

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered">
                                    <thead class="headcolor">
                                        <tr>
                                            <th class="center">Check</th>
                                            <th class="center">Voucher No</th>
                                            <th class="center">Voucher Date</th>
                                            <th class="center">Record Status</th>
                                            <th class="right right-align">Debit (BDT)</th>
                                            <th class="right right-align">Credit (BDT)</th>
                                            <th class="center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:VoucherListData">
                                        <tr>
                                            <td class="center">
                                                <input class="tick-cross form-control" type="radio" value=true data-bind="checked:Pass, attr:{id:UniqueId1, name:UniqueName}, enable:(RecordStatus() == 2)" />
                                                <label data-bind="attr:{ for: UniqueId1}"></label>
                                                <input class="tick-cross crossed form-control" type="radio" value=false data-bind="checked:Pass, attr:{id:UniqueId2, name:UniqueName}, enable:(RecordStatus() == 2)" />
                                                <label data-bind="attr:{ for: UniqueId2}"></label>
                                            </td>
                                            <td class="center" data-bind="text: VoucherNo"></td>
                                            <td class="center" data-bind="text: VoucherDate"></td>
                                            <td class="center" data-bind="text: RecordStatusName"></td>
                                            <td class="center" data-bind="text: Debit"></td>
                                            <td class="center" data-bind="text: Credit"></td>
                                            <td>
                                                <a href='#' data-bind='click: $parent.Details'>Details</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagination-centered">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                    @Html.PagedListPager(Model, page => Url.Action("VoucherListForAuthorization",
                                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchDate = ViewBag.CurrentFilter }))
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" align="right">
                                        <button type="button" class="btn btn-deepgreen" data-toggle="modal" data-target="#myModal">Authorize</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            }
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body" align="center">
                    <p>Do you want to verify/reject the selected items?</p>
                    <button data-bind="click: saveVoucherAuthorization" class="btn btn-success" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                </div>
            </div>
        </div>
    </div>
    <div id="successModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Response</h4>
                </div>
                <div class="modal-body" align="center">
                    <p id="successModalText"></p>

                    <button type="button" class="btn btn-success" data-dismiss="modal" data-bind="click:Refresh">Ok</button>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

