@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.Membership.DTO.ATABCommitteeDetailsDto>


@{
    ViewBag.Title = "Atab Committee List";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var pageDataJson = jss.Serialize(Model);
    //var searchType = ViewBag.SearchString;
}

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Areas/Membership/Scripts/AtabCommittee/atabCommitteeReportList.js"></script>

<script>  
    var pageData = JSON.parse('@Html.Raw(pageDataJson)');
    var searchString = '@ViewBag.SearchString';
    var committeeType = '@ViewBag.CommitteeType';
    @*var fromDate = '@ViewBag.FromDate';
    var toDate = '@ViewBag.ToDate';*@
    var range = '@ViewBag.TimeRange';
</script>

<style>
    .form-control {
        width: 100% !important;
        padding: 2px 3px;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }
</style>

<section class="rm">
    <div class="panel-body">
        <div class="container-fluid">


            <!---vvvvvvv----Body Main Starts here---vvvvvv----->

            <div class="col-sm-12">
                <div id="IUOSlipList">
                    <div class="panel bodycontent">
                        @using (Ajax.BeginForm("AtabCommitteeReportList", "AtabCommittee", null))
                        {

                            <div class="form-group row row_design">
                                <div class="col-sm-offset-2 col-sm-1">
                                    <label for="test" class="control-label">Search</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="searchString" class="form-control" id="searchString" placeholder="Agency Name" value="@(ViewBag.SearchString ?? String.Empty)">
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Committee Type:</label>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control loan" name="sourceid" id="sourceid" data-bind="options:CommitteeTypes, value: '@(ViewBag.CommitteeType ?? String.Empty)', optionsValue:'Id', optionsText: 'Name', optionsCaption: '......Select......'"></select>
                                </div>
                            </div>
                            <div class="form-group row row_design">
                                <div class="col-sm-offset-2 col-sm-1">
                                    <label class="control-label">Time Range:</label>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control loan" name="range" id="range" data-bind="options:AtabCommitteeList, value: '@(ViewBag.TimeRange ?? String.Empty)', optionsValue:'Range', optionsText: 'Range', optionsCaption: '......Select......'"></select>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-default">Search</button>
                                </div>
                            </div>
                                @*<div class="form-group row row_design">
                                        <div class="col-sm-1 col-sm-offset-2">
                                            <label class="control-label">From Date :</label>
                                        </div>
                                        <div class="col-sm-2" style="padding-left: 15px; padding-right: 15px;">

                                            <div class="input-group">
                                                <input type="text" id="fromDateField" data-bind="datepicker:FromDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                                                <input type="hidden" name="fromDate" id="fromDate" value="@ViewBag.FromDate" />
                                                <span class="help-block" style="display: none;"></span>
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label">To Date :</label>
                                        </div>
                                        <div class="col-sm-2" style="padding-left: 15px; padding-right: 15px;">
                                            <div class="input-group">
                                                <input type="text" id="toDateField" data-bind="datepicker:ToDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup'" class="form-control" />
                                                <input type="hidden" name="toDate" id="toDate" value="@ViewBag.ToDate" />
                                                <span class="help-block" style="display: none;"></span>
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-default">Search</button>
                                        </div>
                                    </div>*@

                                }
                                <hr class="horizontal">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-offset-11">
                                            <div class="form-group row row_design" data-bind="visible:(CommitteeTypes().length >0)">

                                                <h5>Export Report</h5>
                                                <a target="_blank" data-bind="attr: { href: Link1, title1: 'PDF' }">PDF</a>
                                                <a target="_blank" data-bind="attr: { href: Link2, title2: 'Excel' }">Excel</a>
                                                <a target="_blank" data-bind="attr: { href: Link3, title3: 'Word' }">Word</a>


                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered">
                                                <thead class="headcolor">
                                                <tr>
                                                    <th></th>
                                                    <th class="center">Name</th>
                                                    <th class="center">Agency Name</th>
                                                    <th class="center">Committee Type</th>
                                                    <th class="center">Zone</th>
                                                    <th class="center">Post</th>
                                                    <th class="center">End Of Tenure</th>
                                                    <th class="center">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody data-bind="foreach:PageData">
                                                <tr>
                                                    <td class="center" data-bind="text: $index() + 1"></td>
                                                    <td class="center" data-bind="text: FullName"></td>
                                                    <td class="center" data-bind="text: NameOfOrganization"></td>
                                                    <td class="center" data-bind="text: CommitteeTypeName"></td>
                                                    <td class="center" data-bind="text: ZoneName"></td>
                                                    <td class="center" data-bind="text: PostName"></td>
                                                    <td class="center" data-bind="text: moment(EndOfTenure).format('DD/MM/YYYY')"></td>
                                                    <td>
                                                        <a class="plus" href='#' data-bind='click: $parent.Adjust'><span class="glyphicon glyphicon-edit"></span></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="pagination-centered">
                                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                            @Html.PagedListPager(Model, page => Url.Action("AtabCommitteeReportList",
                                                new {page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.SearchString, sourceid = ViewBag.CommitteeType,range = ViewBag.TimeRange })) @*, fromDate = ViewBag.FromDate, toDate = ViewBag.ToDate*@
                                        </div>

                                    </div>
                                </div>

                                <div id="successModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Response</h4>
                                            </div>
                                            <div class="modal-body" align="center">
                                                <p id="successModalText"></p>
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="confirmModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Response</h4>
                                            </div>
                                            <div class="modal-body" align="center">
                                                <p> Are You sure, to cancel this Application...</p>
                                                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#RejectionModal">Yes</button>
                                                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div id="RejectionModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog modal-md">
                                        <!-- Modal content-->
                                        <div class="modal-content modalWidth">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Response</h4>
                                            </div>
                                            <div class="modal-body" align="center">
                                                <div class="form-group row row_design">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Rejection Reason</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <textarea type="text" @*data-bind="value: RejectionReason"*@ class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                @*<br />*@


                                            </div>
                                            <div class="modal-footer">
                                                <div class="col-sm-12">
                                                    <div class="form-group row row_design">
                                                        <div>
                                                            <button type="button" @*data-bind="click:CancelApplication"*@ class="btn-q btn-danger" data-dismiss="modal">Reject</button>
                                                            <button type="button" class="btn-q btn-default" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>


